<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/mvc"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/tool
                            http://www.springframework.org/schema/tool/spring-tool.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.springframework.org/schema/mvc
                            http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--配置数据源-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="username" value="root"/>
        <property name="password" value="Gygkk19931210"/>
        <property name="url" value="jdbc:mysql://rm-bp10w3fy7r5w031p6o.mysql.rds.aliyuncs.com:3306/cesh?useUnicode=true&amp;characterEncoding=UTF8&amp;zeroDateTimeBehavior=convertToNull&amp;useSSL=true"/>
    </bean>

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="WEB-INF/mybatis.cfg.xml"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"></property>

        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageHelper">
                    <property name="properties">
                        <value>
                            dialect=hsqldb
                        </value>
                    </property>
                </bean>
            </array>
        </property>
    </bean>


    <bean id="Book" class="com.gaoyuan.model.Book" scope="prototype"></bean>
    <bean id="BookDao" class="com.gaoyuan.dao.imp.BookDaoImp"></bean>
    <bean id="UserDao" class="com.gaoyuan.dao.imp.UserDaoImp"></bean>
    <bean id="FileDao" class="com.gaoyuan.dao.imp.FileDaoImp"></bean>
    <bean id="BlogDao" class="com.gaoyuan.dao.imp.BlogDaoImp"></bean>


    <bean id="baseService" class="com.gaoyuan.service.BaseService"></bean>
    <bean id="BlogService" class="com.gaoyuan.service.BlogService"></bean>

    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <!--<tx:method name="save"  propagation="REQUIRED"/>-->
            <tx:method name="get"   read-only="true"/>
            <tx:method name="*"     propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="transactionPointCuts"
                      expression="execution(* com.gaoyuan.service.*.*(..))" />
        <aop:advisor advice-ref="txAdvice"
                     pointcut-ref="transactionPointCuts" />
    </aop:config>
    <aop:aspectj-autoproxy/>
    <context:annotation-config />
    <mvc:annotation-driven >
        <mvc:message-converters register-defaults="true">
            <!-- StringHttpMessageConverter编码为UTF-8，防止乱码 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
                <property name="supportedMediaTypes">
                    <list>
                        <bean class="org.springframework.http.MediaType">
                            <constructor-arg index="0" value="text"/>
                            <constructor-arg index="1" value="plain"/>
                            <constructor-arg index="2" value="UTF-8"/>
                        </bean>
                        <bean class="org.springframework.http.MediaType">
                            <constructor-arg index="0" value="*"/>
                            <constructor-arg index="1" value="*"/>
                            <constructor-arg index="2" value="UTF-8"/>
                        </bean>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!--<mvc:default-servlet-handler />-->
    <!-- 启用spring  注解 -->
    <context:component-scan base-package="com.gaoyuan">
        <!--<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>-->
    </context:component-scan>

    <!--拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <p:exclude-mapping path="/user/login"></p:exclude-mapping>
            <p:exclude-mapping path="/user/register"></p:exclude-mapping>
            <p:exclude-mapping path="/user/registercheck"></p:exclude-mapping>
            <p:exclude-mapping path="/user/logincheck"></p:exclude-mapping>
            <p:exclude-mapping path="/error/index"></p:exclude-mapping>

            <bean id="loginInterceptor"  class="com.gaoyuan.Interceptor.LoginInterceptor">

            </bean>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>